#map {
  @include body-font;
  font-size: 1.375rem;

  padding: 7.5rem 0 ;

  background-image: url("../img/map-bg.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  p{
    padding-right: 1rem;
  }

  .company-header {
    font-weight: 400;
  }

}
