#mission {
  .quote-mark {
    position: absolute;
    top: -1rem;
    left: -3rem;

    font-size: 3.75rem;
    line-height: normal;
    font-weight: 900;
  }

  .about-mission {
    color: #3c3c3c;
    font-size: 1.375rem;
    line-height: 2.5rem;
    padding-bottom: 3.75rem;
  }
}